<header class="header">
  <h1>{{title}}</h1>
  <h3>Welcome to{{title}}</h3>
  {{#if session}}
    <h3>Welcome {{name}}</h3>
    <a href="/about">About</a>
    <a href="/users/logout">Log Out</a>
    <a href="/users/{{_id}}">Profile Page</a>
  {{else}}
    <a href="/about">About</a>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
  {{/if}}
</header>
<main>
  <p>
    Some Sales Pitch text that explains why this application
    is something that everyone will want to use. By doing so they
    will make me ooddles of cash. I will be rich, Muwhahaha

    --Duck Tales--
  </p>
</main>
