<main class="show">
  <h1>Welcome {{name}}</h1>
  <a href="/">Home Page</a>
  <a href="/users/{{_id}}/registerteams">Create New Team</a>
  <a href="/users/{{_id}}/new">New Stand-Up</a>
  <a href="/users/logout">Log Out</a>
  {{#teams}}
    <p>
      {{team_name}}
    </p>
  {{/teams}}

  {{#posts}}
  <a href="/posts/{{_id}}">{{name}}</a>
  {{/posts}}
</main>
<aside class="sidebar">
  
</aside>
